html,
body {
    height: 100%
}

.head {
    float: left;
    text-align: center;
    width: 200px;
    height: 100%;
    background-color: rgb(127, 172, 255);
    color: white;
}

.content {
    margin-left: 220px;
    overflow: auto;
}

table {
    border-spacing: 10px 10px;
}

th,
td {
    text-align: left;
}